.block-text-all {
    background-color: $black;
    padding: 80px 0;

    @media (min-width: 768px) {
        padding: 79px 0 70px;
    }

    @media (min-width: 1280px) {
        padding: 220px 0;
    }
}

.block-text {
    display: flex;
    flex-direction: column;
}

.block-text__header {
    width: 100%;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-bottom: 86px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 160px;
    }

    @media (min-width: 1920px) {
        width: 1300px;
    }
    
    >h2 {
        color: $white;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0;
        margin: 0;

        @media (min-width: 1280px) {
            font-size: 40px;
        }
    }
}

.block-text__skills {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }    
    

    &__communication {
        background-image: url(../img/bi_chat-left.png);
        @include skills-card;
    }

    &__individuality {
        background-image: url(../img/bi_globe2.png);
        @include skills-card;        
    }

    &__speed {
        background-image: url(../img/bi_lightning-charge.png);
        @include skills-card;
        padding-bottom: 0;
    }
}