.feedback-all {
    background-color: $white;
    padding: 80px 0;

    @media (min-width: 1280px) {
        padding: 160px 0;
    }
    
}

.feedback {
    display: flex;
    flex-direction: column;
    
    @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

.feedback__contacts {
    width: 344px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-bottom: 29px;
    }

    @media (min-width: 1280px) {
        width: 422px;
        margin-bottom: 0;
    }
    

    &_header {
        margin: 0 0 23px;

        @media (min-width: 1280px) {
            margin: 0 0 30px;
        }
        

        > h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            margin: 0;

            @media (min-width: 1280px) {
                font-size: 40px;
            }
           
            > span {
                color: $coral;
            }
        }
    }

    &__phone {
        width: 233px;

        @media (min-width: 1280px) {
            width: 273px;
        }
        
        @include flex-row-space-between;
        align-items: center;

        &_number {

            > a {
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                text-transform: uppercase;
                text-decoration: none;
                color: $black;

                @media (min-width: 1280px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }    
        }
    }

    &__address {
        width: 341px;
        margin: 21px 0;

        @media (min-width: 1280px) {
            width: 401px;
            margin: 18px 0;
        }
       

        @include flex-row-space-between;
        align-items: center;

        > address {
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            font-style: normal;

            @media (min-width: 1280px) {
                font-size: 24px;
            }  
        }
    }

    &__email {
        width: 233px;

        @media (min-width: 1280px) {
            width: 272px;
        }
       
        @include flex-row-space-between;
        align-items: center;

        &_content {

            > a {
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                text-decoration: none;
                color: $black;

                @media (min-width: 1280px) {
                    font-size: 24px;
                    line-height: 30px;
                }                
            }
        }
    }
}

.feedback__form {

    @media (min-width: 768px) {    
        border: 1px solid $dgray;
        padding: 70px 100px;
    }
    
    @media (min-width: 1920px) {
        padding: 90px 120px;
    }

    &__first-row {
        width: 400px;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1280px) {
            width: 418px;
        }

        @media (min-width: 1920px) {
            width: 820px;
            flex-direction: row;
            justify-content: space-between;
        }
        
        

        &_name {
            display: flex;

            input[type="text"] {
               @include input;
            }
        }

        &_phone {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            &-number {
                display: flex;

                input[type="tel"] {
                    width: 400px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: $grayform;
                    padding: 11px 0;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $coral;

                    .error {
                            border-bottom: 1px solid $coral;
                        }

                    &:focus {
                        color: $black;
                        border-bottom: 1px solid $black;
                    }

                    @media (min-width: 768px) {
                        width: 500px;            
                    }
                    
                    @media (min-width: 1280px) {
                        width: 418px;
                        font-size: 16px;
                        padding: 14px 0;
                    }
                    
                    @media (min-width: 1920px) {
                        width: 359px;        
                    }    
                }
            }    
        }

        .error-text {
            width: 359px;
            color: $coral;
            padding-top: 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.01em;
        }
    }
    
    &__second-row {
        width: 400px;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1280px) {
            width: 418px;
        }

        @media (min-width: 1920px) {
            width: 820px;
            flex-direction: row;
            justify-content: space-between;
        }

        &_surname {
            display: flex;

            input[type="text"] {
                @include input;
            }
        }

        &_email {
            display: flex;

            input[type="email"] {
              @include input;  
            }
        }
    }

    &__third-row {
        width: 400px;
        display: flex;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1280px) {
            width: 418px;
        }

        @media (min-width: 1920px) {
            width: 820px;
        }

        &_message {
            width: 100%;
        
            textarea {
                width: 400px;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $grayform;
                padding: 11px 0;
                outline: none;
                border: none;
                border-bottom: 1px solid $grayform;
                margin-bottom: 30px;

                &:focus {
                    color: $black;
                    border-bottom: 1px solid $black;
                }

                @media (min-width: 768px) {
                    width: 500px;
                    margin-bottom: 74px;
                }

                @media (min-width: 1280px) {
                    width: 418px;
                    font-size: 16px;
                    margin-bottom: 40px;
                    padding: 14px 0;
                }

                @media (min-width: 1920px) {
                    width: 820px;
                    margin-bottom: 60px;
                }
            }
        }
    }

    &__fourth-row {
        width: 400px;
        display: flex;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1280px) {
            width: 418px;
        }

        @media (min-width: 1920px) {
            width: 820px;
        }

        &_confidentiality {
            width: 100%;
            display: flex;
            align-items:flex-start;

            > .checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
                margin: 10px 0 0 20px;
            }

            .checkbox + label {
                position: relative;
                padding: 0 0 0 40px;
                cursor: pointer;
            }

            .checkbox + label:before {
                content: '';
                position: absolute;
                top: 0px;
                left: -7px;
                width: 18px;
                height: 18px;
                background: $white;
                border: 1px solid $grayform;
            }

            .checkbox:checked + label:before {
	            background-image: url(../img/checked-checkbox.svg);
                border: none;
            }
        
            >label {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: $grayform;
                margin-left: 12px;
        
                >a {
                    text-decoration: none;
                    color: $coral;
                }
            }
        }
    }
    
    &__fifth-row {
        width: 400px;
        display: flex;
        justify-content: flex-end;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1280px) {
            width: 418px;
        }

        @media (min-width: 1920px) {
            width: 820px;
        }

        &__button {
            display: flex;
            margin-top: 30px;

            @media (min-width: 768px) {
                margin-top: 5px;
            }

            @media (min-width: 1280px) {
                margin-top: 40px;
            }

            @media (min-width: 1920px) {
                margin-top: 60px;
            }
            
            >span {
                display: flex;
                background-color: $coral;
                width: 164px;

                &:hover {
                    background-color: $white;
                    border: 1px solid $black;
                }

                @media (min-width: 1280px) {
                    width: 224px;
                }
               
                >a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration: none;
                    color: $white;
                    padding: 18px 40px;

                    &:hover {
                        color: $black;
                    }

                    @media (min-width: 1280px) {
                        font-size: 20px;
                        line-height: 25px;
                        padding: 16px 60px;
                    }                
                }
            }
        }
    }    
}

