@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin skills-card {
    background-repeat: no-repeat;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 60px 0;

    @media (min-width: 768px) {
        width: 220px;
    }

    @media (min-width: 1280px) {
        width: 360px;
        padding-top: 70px;
    }

    @media (min-width: 1920px) {
        width: 460px;
    }

    &_header {
        margin-bottom: 20px;

        >h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: $white;

            @media (min-width: 1280px) {
                font-size: 24px;
            }
        }
    }

    &_text {

        >p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $white;
            margin: 0;

            @media (min-width: 1280px) {
                font-size: 20px;
            }
        }
    }
}

@mixin project-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @media (min-width: 768px) {
        width: 220px;
        margin-bottom: 0;
    }

    @media (min-width: 1280px) {
        width: 240px;
    }

    @media (min-width: 1920px) {
        width: 410px;
    }

    &_header {
        margin: 40px 0 18px;

        @media (min-width: 768px) {
            margin: 40px 0 0;
        }

        @media (min-width: 1920px) {
            margin: 40px 0 18px;
        }

        >a {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
        }
    }

    &_text {

        >p {
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: $black;
            margin: 0;
        }

        @media (min-width: 768px) {
            display: none;
        }

        @media (min-width: 1920px) {
            display: flex;
        }
    }
}

@mixin work-stage {
    align-items: center;
    border-top: 2px solid $white;

    &_number {
        width: 44px;

        @media (min-width: 1280px) {
            width: 59px;
        }

        >span {
            font-weight: 300;
            font-size: 36px;
            line-height: 130%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: $coral;

            @media (min-width: 1280px) {
                font-size: 48px;
            }
        }
    }

    &_meaning {
        width: 316px;

        @media (min-width: 768px) {
            width: 616px;
        }

        @media (min-width: 1280px) {
            width: 641px;
        }

        @media (min-width: 1920px) {
            width: 949px;
        }

        >p {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: $white;
            margin: 0;
            padding: 35px 0;

            @media (min-width: 1280px) {
                font-size: 20px;
            }

            @media (min-width: 1920px) {
                padding: 38px 0;
            }
        }
    }
}

@mixin blog-card {
    width: 400px;

    @media (min-width: 768px) {
        width: 220px;
        margin-right: 20px;
    }

    @media (min-width: 1280px) {
        width: 250px;
    }

    @media (min-width: 1920px) {
        width: 430px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;

    &_header {
        margin: 30px 0 18px;
        width: 328px;

        @media (min-width: 768px) {
            margin: 20px 0 0;
            width: 160px;
        }

        @media (min-width: 1280px) {
            margin: 30px 0 0;
            width: 190px;
        }

        @media (min-width: 1920px) {
            margin: 30px 0 18px;
            width: 328px;
        }

        >a {
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
        }
    }

    &_text {
        width: 328px;

        >p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: $black;
            margin: 0;
        }

        @media (min-width: 768px) {
            display: none;
        }

        @media (min-width: 1920px) {
            display: flex;
        }
    }
}

@mixin input {
    width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $grayform;
    padding: 11px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $grayform;
    margin-bottom: 30px;

    &:focus {
        color: $black;
        border-bottom: 1px solid $black;
    }

    @media (min-width: 768px) {
        width: 500px;
        margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
        width: 418px;
        font-size: 16px;
        margin-bottom: 54px;
        padding: 14px 0;
    }

    @media (min-width: 1920px) {
        width: 359px;
        margin-bottom: 60px;
    }
}

@mixin footer-product-list {
    &_header {
    
        >h3 {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-transform: uppercase;
            font-style: normal;
            color: $white;
            margin: 0 0 30px;


            @media (min-width: 1280px) {
                font-size: 24px;
                line-height: 33px;
                margin: 0 0 44px;
            }       
        }
    }
    
    &_list {
    
        >ul {
            list-style: none;
            padding-inline-start: 0;
            margin: 0;
    
            >li {
                margin-bottom: 20px;

                @media (min-width: 1280px) {
                    margin-bottom: 32px;
                }   
                
                >a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration: none;
                    color: $white;

                    @media (min-width: 1280px) {
                        font-size: 18px;
                        line-height: 23px;
                    } 
                    
                    &:hover {
                        color: $coral;
                    }
                }
            }
    
            > li:last-child {
                margin-bottom: 0;
            }
        }
    }
}