@charset "UTF-8";
html, body {
  font-family: Mulish;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: 0.01em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 400px;
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1780px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
@media (min-width: 1280px) {
  .header {
    height: 140px;
  }
}

.header__logo {
  width: 180px;
}
@media (min-width: 1920px) {
  .header__logo {
    width: 200px;
  }
}

.header__content {
  display: none;
}
@media (min-width: 1280px) {
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
.header__content__info__menu > ul {
  width: 467px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
@media (min-width: 1920px) {
  .header__content__info__menu > ul {
    width: 558px;
  }
}
.header__content__info__menu > ul > li > a {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
.header__content__info__menu > ul > li > a:hover {
  color: #F6523C;
}
@media (min-width: 1920px) {
  .header__content__info__menu > ul > li > a {
    font-size: 20px;
    line-height: 25px;
  }
}
.header__content__settings {
  width: 333px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1920px) {
  .header__content__settings {
    width: 340px;
  }
}
.header__content__settings__lang {
  width: 58px;
}
@media (min-width: 1920px) {
  .header__content__settings__lang {
    width: 65px;
  }
}
.header__content__settings__lang ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding-inline-start: 0;
}
.header__content__settings__lang ul > li > a {
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 1920px) {
  .header__content__settings__lang ul > li > a {
    font-size: 18px;
  }
}
.header__content__settings__lang ul .english {
  border-right: 1px solid #000000;
  padding-right: 7px;
}
.header__content__settings__lang ul .english:focus {
  border-bottom: 1px solid #000000;
}
.header__content__settings__lang ul .russian:focus {
  border-bottom: 1px solid #000000;
}
.header__content__settings__button {
  display: flex;
  justify-content: center;
  background-color: #F6523C;
  width: 245px;
}
.header__content__settings__button a {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  padding: 22px 44px;
}
.header__content__settings__button a:hover {
  color: #000000;
}
.header__content__settings__button:hover {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.mobile__open {
  display: flex;
  width: 27px;
  height: 21px;
}
.mobile__open > a {
  background-image: url(../img/gamburger-menu.png);
}
@media (min-width: 1280px) {
  .mobile__open {
    display: none;
  }
}

.main {
  padding: 80px 0 70px;
  background-image: none;
}
@media (min-width: 1920px) {
  .main {
    background-image: url(../img/график.svg);
    background-repeat: no-repeat;
    background-position: 990px 280px;
  }
}

.main__header {
  width: 400px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main__header {
    width: 555px;
  }
}
@media (min-width: 1280px) {
  .main__header {
    width: 1132px;
    margin-bottom: 40px;
  }
}
.main__header > h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
}
@media (min-width: 768px) {
  .main__header > h1 {
    line-height: 120%;
  }
}
@media (min-width: 1280px) {
  .main__header > h1 {
    font-size: 80px;
  }
}

.main__text {
  width: 400px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .main__text {
    width: 700px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1280px) {
  .main__text {
    width: 820px;
    margin-bottom: 100px;
  }
}
.main__text p {
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
  color: #000000;
}
@media (min-width: 1280px) {
  .main__text p {
    font-size: 20px;
  }
}

.main__services {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .main__services__list {
    padding-right: 32px;
  }
}
@media (min-width: 1280px) {
  .main__services__list {
    padding-right: 135px;
  }
}
.main__services__list > ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
.main__services__list > ul > li {
  padding-bottom: 33px;
}
.main__services__list > ul > li > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.main__services__list > ul > li > a:hover {
  color: #F6523C;
}
.main__services__list > ul > li > .main__services__list-mobile {
  width: 370px;
  border-left: 1px solid #000000;
  padding-left: 30px;
  margin-top: 20px;
}
.main__services__list > ul > li > .main__services__list-mobile > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .main__services__list > ul > li > .main__services__list-mobile {
    display: none;
  }
}
.main__services__list > ul li:first-child {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .main__services__list > ul li:first-child {
    padding-bottom: 33px;
  }
}
.main__services__meaning {
  display: none;
  border-left: 1px solid #000000;
}
@media (min-width: 768px) {
  .main__services__meaning {
    display: block;
  }
}
.main__services__meaning_card {
  width: 438px;
  margin-left: 42px;
}
.main__services__meaning_card > h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.main__services__meaning_card > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.block-text-all {
  background-color: #000000;
  padding: 80px 0;
}
@media (min-width: 768px) {
  .block-text-all {
    padding: 79px 0 70px;
  }
}
@media (min-width: 1280px) {
  .block-text-all {
    padding: 220px 0;
  }
}

.block-text {
  display: flex;
  flex-direction: column;
}

.block-text__header {
  width: 100%;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .block-text__header {
    margin-bottom: 86px;
  }
}
@media (min-width: 1280px) {
  .block-text__header {
    margin-bottom: 160px;
  }
}
@media (min-width: 1920px) {
  .block-text__header {
    width: 1300px;
  }
}
.block-text__header > h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
  margin: 0;
}
@media (min-width: 1280px) {
  .block-text__header > h2 {
    font-size: 40px;
  }
}

.block-text__skills {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .block-text__skills {
    flex-direction: row;
    justify-content: space-between;
  }
}
.block-text__skills__communication {
  background-image: url(../img/bi_chat-left.png);
  background-repeat: no-repeat;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .block-text__skills__communication {
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .block-text__skills__communication {
    width: 360px;
    padding-top: 70px;
  }
}
@media (min-width: 1920px) {
  .block-text__skills__communication {
    width: 460px;
  }
}
.block-text__skills__communication_header {
  margin-bottom: 20px;
}
.block-text__skills__communication_header > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .block-text__skills__communication_header > h3 {
    font-size: 24px;
  }
}
.block-text__skills__communication_text > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 1280px) {
  .block-text__skills__communication_text > p {
    font-size: 20px;
  }
}
.block-text__skills__individuality {
  background-image: url(../img/bi_globe2.png);
  background-repeat: no-repeat;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
@media (min-width: 768px) {
  .block-text__skills__individuality {
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .block-text__skills__individuality {
    width: 360px;
    padding-top: 70px;
  }
}
@media (min-width: 1920px) {
  .block-text__skills__individuality {
    width: 460px;
  }
}
.block-text__skills__individuality_header {
  margin-bottom: 20px;
}
.block-text__skills__individuality_header > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .block-text__skills__individuality_header > h3 {
    font-size: 24px;
  }
}
.block-text__skills__individuality_text > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 1280px) {
  .block-text__skills__individuality_text > p {
    font-size: 20px;
  }
}
.block-text__skills__speed {
  background-image: url(../img/bi_lightning-charge.png);
  background-repeat: no-repeat;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .block-text__skills__speed {
    width: 220px;
  }
}
@media (min-width: 1280px) {
  .block-text__skills__speed {
    width: 360px;
    padding-top: 70px;
  }
}
@media (min-width: 1920px) {
  .block-text__skills__speed {
    width: 460px;
  }
}
.block-text__skills__speed_header {
  margin-bottom: 20px;
}
.block-text__skills__speed_header > h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .block-text__skills__speed_header > h3 {
    font-size: 24px;
  }
}
.block-text__skills__speed_text > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 1280px) {
  .block-text__skills__speed_text > p {
    font-size: 20px;
  }
}

.projects-all {
  background-color: #FFFFFF;
  padding: 80px 0;
}
@media (min-width: 1280px) {
  .projects-all {
    padding: 160px 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .projects {
    flex-direction: row;
  }
}

.projects__text {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .projects__text {
    margin-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .projects__text {
    width: 340px;
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .projects__text {
    width: 413px;
  }
}
.projects__text_header {
  margin-bottom: 15px;
}
@media (min-width: 1280px) {
  .projects__text_header {
    margin-bottom: 30px;
  }
}
.projects__text_header > h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}
.projects__text_header > h2 span {
  color: #F6523C;
}
@media (min-width: 1280px) {
  .projects__text_header > h2 {
    font-size: 40px;
  }
}
.projects__text_meaning {
  margin-bottom: 15px;
}
@media (min-width: 1280px) {
  .projects__text_meaning {
    margin-bottom: 30px;
  }
}
.projects__text_meaning > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin: 0;
}
@media (min-width: 1280px) {
  .projects__text_meaning > p {
    font-size: 24px;
  }
}
.projects__text_button {
  display: flex;
}
.projects__text_button > span {
  display: flex;
  background-color: #FFFFFF;
  width: 238px;
  border: 1px solid #000000;
  background-image: url(../img/arrow-up-right.png);
  background-repeat: no-repeat;
  background-position: 185px;
}
@media (min-width: 1280px) {
  .projects__text_button > span {
    width: 297px;
    background-position: 230px;
  }
}
@media (min-width: 1920px) {
  .projects__text_button > span {
    width: 291px;
  }
}
.projects__text_button > span > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
  padding: 20px 0 20px 40px;
}
@media (min-width: 1280px) {
  .projects__text_button > span > a {
    font-size: 20px;
  }
}
.projects__text_button > span > a:hover {
  color: #FFFFFF;
}
.projects__text_button > span:hover {
  background-color: #F6523C;
  border: none;
  background-image: url(../img/arrow-white.png);
}

.projects__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .projects__cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .projects__cards {
    width: 760px;
  }
}
@media (min-width: 1920px) {
  .projects__cards {
    width: 1270px;
  }
}
.projects__cards__mobile-tracker {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .projects__cards__mobile-tracker {
    width: 220px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .projects__cards__mobile-tracker {
    width: 240px;
  }
}
@media (min-width: 1920px) {
  .projects__cards__mobile-tracker {
    width: 410px;
  }
}
.projects__cards__mobile-tracker_header {
  margin: 40px 0 18px;
}
@media (min-width: 768px) {
  .projects__cards__mobile-tracker_header {
    margin: 40px 0 0;
  }
}
@media (min-width: 1920px) {
  .projects__cards__mobile-tracker_header {
    margin: 40px 0 18px;
  }
}
.projects__cards__mobile-tracker_header > a {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.projects__cards__mobile-tracker_text > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .projects__cards__mobile-tracker_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .projects__cards__mobile-tracker_text {
    display: flex;
  }
}
.projects__cards__univer-today {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .projects__cards__univer-today {
    width: 220px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .projects__cards__univer-today {
    width: 240px;
  }
}
@media (min-width: 1920px) {
  .projects__cards__univer-today {
    width: 410px;
  }
}
.projects__cards__univer-today_header {
  margin: 40px 0 18px;
}
@media (min-width: 768px) {
  .projects__cards__univer-today_header {
    margin: 40px 0 0;
  }
}
@media (min-width: 1920px) {
  .projects__cards__univer-today_header {
    margin: 40px 0 18px;
  }
}
.projects__cards__univer-today_header > a {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.projects__cards__univer-today_text > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .projects__cards__univer-today_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .projects__cards__univer-today_text {
    display: flex;
  }
}
.projects__cards__study-blog {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .projects__cards__study-blog {
    width: 220px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .projects__cards__study-blog {
    width: 240px;
  }
}
@media (min-width: 1920px) {
  .projects__cards__study-blog {
    width: 410px;
  }
}
.projects__cards__study-blog_header {
  margin: 40px 0 18px;
}
@media (min-width: 768px) {
  .projects__cards__study-blog_header {
    margin: 40px 0 0;
  }
}
@media (min-width: 1920px) {
  .projects__cards__study-blog_header {
    margin: 40px 0 18px;
  }
}
.projects__cards__study-blog_header > a {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.projects__cards__study-blog_text > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .projects__cards__study-blog_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .projects__cards__study-blog_text {
    display: flex;
  }
}

.technology-all {
  background-color: #000000;
  padding: 80px 0;
}
@media (min-width: 1280px) {
  .technology-all {
    padding: 160px 0;
  }
}

.technology {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .technology {
    flex-direction: row;
    justify-content: space-between;
  }
}

.technology__title {
  width: 306px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 1280px) {
  .technology__title {
    width: 329px;
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .technology__title {
    width: 395px;
  }
}
.technology__title__header {
  padding-bottom: 20px;
}
@media (min-width: 1280px) {
  .technology__title__header {
    padding-bottom: 30px;
  }
}
.technology__title__header > h2 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 1280px) {
  .technology__title__header > h2 {
    font-size: 40px;
  }
}
.technology__title__text > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 1280px) {
  .technology__title__text > p {
    font-size: 24px;
  }
}

.technology__work-stages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .technology__work-stages {
    width: 760px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages {
    width: 1068px;
  }
}

.technology__work-stages__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #FFFFFF;
}
.technology__work-stages__1_number {
  width: 44px;
}
@media (min-width: 1280px) {
  .technology__work-stages__1_number {
    width: 59px;
  }
}
.technology__work-stages__1_number > span {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6523C;
}
@media (min-width: 1280px) {
  .technology__work-stages__1_number > span {
    font-size: 48px;
  }
}
.technology__work-stages__1_meaning {
  width: 316px;
}
@media (min-width: 768px) {
  .technology__work-stages__1_meaning {
    width: 616px;
  }
}
@media (min-width: 1280px) {
  .technology__work-stages__1_meaning {
    width: 641px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__1_meaning {
    width: 949px;
  }
}
.technology__work-stages__1_meaning > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0;
}
@media (min-width: 1280px) {
  .technology__work-stages__1_meaning > p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__1_meaning > p {
    padding: 38px 0;
  }
}

.technology__work-stages__2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #FFFFFF;
}
.technology__work-stages__2_number {
  width: 44px;
}
@media (min-width: 1280px) {
  .technology__work-stages__2_number {
    width: 59px;
  }
}
.technology__work-stages__2_number > span {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6523C;
}
@media (min-width: 1280px) {
  .technology__work-stages__2_number > span {
    font-size: 48px;
  }
}
.technology__work-stages__2_meaning {
  width: 316px;
}
@media (min-width: 768px) {
  .technology__work-stages__2_meaning {
    width: 616px;
  }
}
@media (min-width: 1280px) {
  .technology__work-stages__2_meaning {
    width: 641px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__2_meaning {
    width: 949px;
  }
}
.technology__work-stages__2_meaning > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0;
}
@media (min-width: 1280px) {
  .technology__work-stages__2_meaning > p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__2_meaning > p {
    padding: 38px 0;
  }
}

.technology__work-stages__3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #FFFFFF;
}
.technology__work-stages__3_number {
  width: 44px;
}
@media (min-width: 1280px) {
  .technology__work-stages__3_number {
    width: 59px;
  }
}
.technology__work-stages__3_number > span {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6523C;
}
@media (min-width: 1280px) {
  .technology__work-stages__3_number > span {
    font-size: 48px;
  }
}
.technology__work-stages__3_meaning {
  width: 316px;
}
@media (min-width: 768px) {
  .technology__work-stages__3_meaning {
    width: 616px;
  }
}
@media (min-width: 1280px) {
  .technology__work-stages__3_meaning {
    width: 641px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__3_meaning {
    width: 949px;
  }
}
.technology__work-stages__3_meaning > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0;
}
@media (min-width: 1280px) {
  .technology__work-stages__3_meaning > p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__3_meaning > p {
    padding: 38px 0;
  }
}

.technology__work-stages__4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.technology__work-stages__4_number {
  width: 44px;
}
@media (min-width: 1280px) {
  .technology__work-stages__4_number {
    width: 59px;
  }
}
.technology__work-stages__4_number > span {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6523C;
}
@media (min-width: 1280px) {
  .technology__work-stages__4_number > span {
    font-size: 48px;
  }
}
.technology__work-stages__4_meaning {
  width: 316px;
}
@media (min-width: 768px) {
  .technology__work-stages__4_meaning {
    width: 616px;
  }
}
@media (min-width: 1280px) {
  .technology__work-stages__4_meaning {
    width: 641px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__4_meaning {
    width: 949px;
  }
}
.technology__work-stages__4_meaning > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0;
}
@media (min-width: 1280px) {
  .technology__work-stages__4_meaning > p {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .technology__work-stages__4_meaning > p {
    padding: 38px 0;
  }
}

.blog-all {
  background-color: #F5F5F5;
  padding: 80px 0;
}
@media (min-width: 1280px) {
  .blog-all {
    padding: 160px 0;
  }
}

.blog {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .blog {
    flex-direction: row;
    justify-content: space-between;
  }
}

.blog__title {
  display: flex;
  flex-direction: column;
  width: 294px;
  margin-bottom: 60px;
}
@media (min-width: 1280px) {
  .blog__title {
    width: 297px;
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .blog__title {
    width: 353px;
  }
}
.blog__title_header {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .blog__title_header {
    margin-bottom: 30px;
  }
}
.blog__title_header > h2 {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 1280px) {
  .blog__title_header > h2 {
    font-size: 40px;
  }
}
.blog__title_meaning {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .blog__title_meaning {
    margin-bottom: 30px;
  }
}
.blog__title_meaning > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin: 0;
}
@media (min-width: 1280px) {
  .blog__title_meaning > p {
    font-size: 24px;
  }
}
.blog__title_button {
  display: flex;
}
.blog__title_button > span {
  display: flex;
  background-color: #F5F5F5;
  width: 238px;
  border: 1px solid #000000;
  background-image: url(../img/arrow-up-right.png);
  background-repeat: no-repeat;
  background-position: 185px;
}
@media (min-width: 1280px) {
  .blog__title_button > span {
    width: 278px;
    background-position: 230px;
  }
}
.blog__title_button > span:hover {
  background-color: #F6523C;
  border: none;
  background-image: url(../img/arrow-white.png);
}
.blog__title_button > span > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000000;
  padding: 20px 0 20px 40px;
}
.blog__title_button > span > a:hover {
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .blog__title_button > span > a {
    font-size: 20px;
  }
}

.blog__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .blog__cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .blog__cards {
    width: 790px;
  }
}
@media (min-width: 1920px) {
  .blog__cards {
    width: 1330px;
  }
}
.blog__cards__results {
  padding: 80px 35px 106px;
  margin-bottom: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .blog__cards__results {
    padding: 30px 15px 92px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .blog__cards__results {
    padding: 80px 30px 76px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__results {
    padding: 80px 50px 106px;
  }
}
@media (min-width: 768px) {
  .blog__cards__results {
    width: 220px;
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__results {
    width: 250px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__results {
    width: 430px;
  }
}
.blog__cards__results_header {
  margin: 30px 0 18px;
  width: 328px;
}
@media (min-width: 768px) {
  .blog__cards__results_header {
    margin: 20px 0 0;
    width: 160px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__results_header {
    margin: 30px 0 0;
    width: 190px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__results_header {
    margin: 30px 0 18px;
    width: 328px;
  }
}
.blog__cards__results_header > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.blog__cards__results_text {
  width: 328px;
}
.blog__cards__results_text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .blog__cards__results_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog__cards__results_text {
    display: flex;
  }
}
.blog__cards__analytics {
  padding: 80px 35px 80px;
  margin-bottom: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .blog__cards__analytics {
    padding: 30px 15px 118px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .blog__cards__analytics {
    padding: 80px 30px 102px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__analytics {
    padding: 80px 50px 130px;
  }
}
@media (min-width: 768px) {
  .blog__cards__analytics {
    width: 220px;
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__analytics {
    width: 250px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__analytics {
    width: 430px;
  }
}
.blog__cards__analytics_header {
  margin: 30px 0 18px;
  width: 328px;
}
@media (min-width: 768px) {
  .blog__cards__analytics_header {
    margin: 20px 0 0;
    width: 160px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__analytics_header {
    margin: 30px 0 0;
    width: 190px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__analytics_header {
    margin: 30px 0 18px;
    width: 328px;
  }
}
.blog__cards__analytics_header > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.blog__cards__analytics_text {
  width: 328px;
}
.blog__cards__analytics_text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .blog__cards__analytics_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog__cards__analytics_text {
    display: flex;
  }
}
.blog__cards__cloud {
  padding: 80px 35px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin-right: 0;
}
@media (min-width: 768px) {
  .blog__cards__cloud {
    padding: 30px 15px 40px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__cloud {
    padding: 80px 30px 50px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__cloud {
    padding: 80px 50px;
  }
}
@media (min-width: 768px) {
  .blog__cards__cloud {
    width: 220px;
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__cloud {
    width: 250px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__cloud {
    width: 430px;
  }
}
.blog__cards__cloud_header {
  margin: 30px 0 18px;
  width: 328px;
}
@media (min-width: 768px) {
  .blog__cards__cloud_header {
    margin: 20px 0 0;
    width: 160px;
  }
}
@media (min-width: 1280px) {
  .blog__cards__cloud_header {
    margin: 30px 0 0;
    width: 190px;
  }
}
@media (min-width: 1920px) {
  .blog__cards__cloud_header {
    margin: 30px 0 18px;
    width: 328px;
  }
}
.blog__cards__cloud_header > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.blog__cards__cloud_text {
  width: 328px;
}
.blog__cards__cloud_text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .blog__cards__cloud_text {
    display: none;
  }
}
@media (min-width: 1920px) {
  .blog__cards__cloud_text {
    display: flex;
  }
}

.feedback-all {
  background-color: #FFFFFF;
  padding: 80px 0;
}
@media (min-width: 1280px) {
  .feedback-all {
    padding: 160px 0;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .feedback {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback__contacts {
  width: 344px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .feedback__contacts {
    margin-bottom: 29px;
  }
}
@media (min-width: 1280px) {
  .feedback__contacts {
    width: 422px;
    margin-bottom: 0;
  }
}
.feedback__contacts_header {
  margin: 0 0 23px;
}
@media (min-width: 1280px) {
  .feedback__contacts_header {
    margin: 0 0 30px;
  }
}
.feedback__contacts_header > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 1280px) {
  .feedback__contacts_header > h2 {
    font-size: 40px;
  }
}
.feedback__contacts_header > h2 > span {
  color: #F6523C;
}
.feedback__contacts__phone {
  width: 233px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .feedback__contacts__phone {
    width: 273px;
  }
}
.feedback__contacts__phone_number > a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 1280px) {
  .feedback__contacts__phone_number > a {
    font-size: 24px;
    line-height: 30px;
  }
}
.feedback__contacts__address {
  width: 341px;
  margin: 21px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .feedback__contacts__address {
    width: 401px;
    margin: 18px 0;
  }
}
.feedback__contacts__address > address {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  font-style: normal;
}
@media (min-width: 1280px) {
  .feedback__contacts__address > address {
    font-size: 24px;
  }
}
.feedback__contacts__email {
  width: 233px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .feedback__contacts__email {
    width: 272px;
  }
}
.feedback__contacts__email_content > a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 1280px) {
  .feedback__contacts__email_content > a {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .feedback__form {
    border: 1px solid #DFDFDF;
    padding: 70px 100px;
  }
}
@media (min-width: 1920px) {
  .feedback__form {
    padding: 90px 120px;
  }
}
.feedback__form__first-row {
  width: 400px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback__form__first-row {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__first-row {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__first-row {
    width: 820px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.feedback__form__first-row_name {
  display: flex;
}
.feedback__form__first-row_name input[type=text] {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
  padding: 11px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #929292;
  margin-bottom: 30px;
}
.feedback__form__first-row_name input[type=text]:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
@media (min-width: 768px) {
  .feedback__form__first-row_name input[type=text] {
    width: 500px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__first-row_name input[type=text] {
    width: 418px;
    font-size: 16px;
    margin-bottom: 54px;
    padding: 14px 0;
  }
}
@media (min-width: 1920px) {
  .feedback__form__first-row_name input[type=text] {
    width: 359px;
    margin-bottom: 60px;
  }
}
.feedback__form__first-row_phone {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feedback__form__first-row_phone {
    margin-bottom: 30px;
  }
}
.feedback__form__first-row_phone-number {
  display: flex;
}
.feedback__form__first-row_phone-number input[type=tel] {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
  padding: 11px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #F6523C;
}
.feedback__form__first-row_phone-number input[type=tel] .error {
  border-bottom: 1px solid #F6523C;
}
.feedback__form__first-row_phone-number input[type=tel]:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
@media (min-width: 768px) {
  .feedback__form__first-row_phone-number input[type=tel] {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__first-row_phone-number input[type=tel] {
    width: 418px;
    font-size: 16px;
    padding: 14px 0;
  }
}
@media (min-width: 1920px) {
  .feedback__form__first-row_phone-number input[type=tel] {
    width: 359px;
  }
}
.feedback__form__first-row .error-text {
  width: 359px;
  color: #F6523C;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
.feedback__form__second-row {
  width: 400px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback__form__second-row {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__second-row {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__second-row {
    width: 820px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.feedback__form__second-row_surname {
  display: flex;
}
.feedback__form__second-row_surname input[type=text] {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
  padding: 11px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #929292;
  margin-bottom: 30px;
}
.feedback__form__second-row_surname input[type=text]:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
@media (min-width: 768px) {
  .feedback__form__second-row_surname input[type=text] {
    width: 500px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__second-row_surname input[type=text] {
    width: 418px;
    font-size: 16px;
    margin-bottom: 54px;
    padding: 14px 0;
  }
}
@media (min-width: 1920px) {
  .feedback__form__second-row_surname input[type=text] {
    width: 359px;
    margin-bottom: 60px;
  }
}
.feedback__form__second-row_email {
  display: flex;
}
.feedback__form__second-row_email input[type=email] {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
  padding: 11px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #929292;
  margin-bottom: 30px;
}
.feedback__form__second-row_email input[type=email]:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
@media (min-width: 768px) {
  .feedback__form__second-row_email input[type=email] {
    width: 500px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__second-row_email input[type=email] {
    width: 418px;
    font-size: 16px;
    margin-bottom: 54px;
    padding: 14px 0;
  }
}
@media (min-width: 1920px) {
  .feedback__form__second-row_email input[type=email] {
    width: 359px;
    margin-bottom: 60px;
  }
}
.feedback__form__third-row {
  width: 400px;
  display: flex;
}
@media (min-width: 768px) {
  .feedback__form__third-row {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__third-row {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__third-row {
    width: 820px;
  }
}
.feedback__form__third-row_message {
  width: 100%;
}
.feedback__form__third-row_message textarea {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #929292;
  padding: 11px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #929292;
  margin-bottom: 30px;
}
.feedback__form__third-row_message textarea:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
@media (min-width: 768px) {
  .feedback__form__third-row_message textarea {
    width: 500px;
    margin-bottom: 74px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__third-row_message textarea {
    width: 418px;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 14px 0;
  }
}
@media (min-width: 1920px) {
  .feedback__form__third-row_message textarea {
    width: 820px;
    margin-bottom: 60px;
  }
}
.feedback__form__fourth-row {
  width: 400px;
  display: flex;
}
@media (min-width: 768px) {
  .feedback__form__fourth-row {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__fourth-row {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__fourth-row {
    width: 820px;
  }
}
.feedback__form__fourth-row_confidentiality {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.feedback__form__fourth-row_confidentiality > .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.feedback__form__fourth-row_confidentiality .checkbox + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}
.feedback__form__fourth-row_confidentiality .checkbox + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -7px;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border: 1px solid #929292;
}
.feedback__form__fourth-row_confidentiality .checkbox:checked + label:before {
  background-image: url(../img/checked-checkbox.svg);
  border: none;
}
.feedback__form__fourth-row_confidentiality > label {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #929292;
  margin-left: 12px;
}
.feedback__form__fourth-row_confidentiality > label > a {
  text-decoration: none;
  color: #F6523C;
}
.feedback__form__fifth-row {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .feedback__form__fifth-row {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__fifth-row {
    width: 418px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__fifth-row {
    width: 820px;
  }
}
.feedback__form__fifth-row__button {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .feedback__form__fifth-row__button {
    margin-top: 5px;
  }
}
@media (min-width: 1280px) {
  .feedback__form__fifth-row__button {
    margin-top: 40px;
  }
}
@media (min-width: 1920px) {
  .feedback__form__fifth-row__button {
    margin-top: 60px;
  }
}
.feedback__form__fifth-row__button > span {
  display: flex;
  background-color: #F6523C;
  width: 164px;
}
.feedback__form__fifth-row__button > span:hover {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
@media (min-width: 1280px) {
  .feedback__form__fifth-row__button > span {
    width: 224px;
  }
}
.feedback__form__fifth-row__button > span > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 18px 40px;
}
.feedback__form__fifth-row__button > span > a:hover {
  color: #000000;
}
@media (min-width: 1280px) {
  .feedback__form__fifth-row__button > span > a {
    font-size: 20px;
    line-height: 25px;
    padding: 16px 60px;
  }
}

footer {
  background-color: #000000;
  padding: 60px 0 0;
}
@media (min-width: 768px) {
  footer {
    padding: 80px 0 0;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 70px 0 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  .footer {
    margin-bottom: 120px;
  }
}
@media (min-width: 1920px) {
  .footer {
    margin-bottom: 160px;
  }
}

.footer__summary {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__summary {
    width: 360px;
  }
}
@media (min-width: 1280px) {
  .footer__summary {
    width: 790px;
  }
}
@media (min-width: 1920px) {
  .footer__summary {
    width: 890px;
  }
}

.footer__summary__logo {
  display: none;
}
@media (min-width: 1280px) {
  .footer__summary__logo {
    display: flex;
    margin: 0;
  }
}

.footer__summary__product {
  width: 400px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__summary__product {
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .footer__summary__product {
    width: 522px;
  }
}
@media (min-width: 1280px) {
  .footer__summary__product {
    width: 560px;
  }
}

.footer__summary__product__company {
  width: 142px;
}
@media (min-width: 1280px) {
  .footer__summary__product__company {
    width: 174px;
  }
}
.footer__summary__product__company_header > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFFFF;
  margin: 0 0 30px;
}
@media (min-width: 1280px) {
  .footer__summary__product__company_header > h3 {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 44px;
  }
}
.footer__summary__product__company_list > ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
.footer__summary__product__company_list > ul > li {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .footer__summary__product__company_list > ul > li {
    margin-bottom: 32px;
  }
}
.footer__summary__product__company_list > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__summary__product__company_list > ul > li > a {
    font-size: 18px;
    line-height: 23px;
  }
}
.footer__summary__product__company_list > ul > li > a:hover {
  color: #F6523C;
}
.footer__summary__product__company_list > ul > li:last-child {
  margin-bottom: 0;
}

.footer__summary__product__services {
  width: 191px;
}
@media (min-width: 1280px) {
  .footer__summary__product__services {
    width: 270px;
  }
}
.footer__summary__product__services_header > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-style: normal;
  color: #FFFFFF;
  margin: 0 0 30px;
}
@media (min-width: 1280px) {
  .footer__summary__product__services_header > h3 {
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 44px;
  }
}
.footer__summary__product__services_list > ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
.footer__summary__product__services_list > ul > li {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .footer__summary__product__services_list > ul > li {
    margin-bottom: 32px;
  }
}
.footer__summary__product__services_list > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__summary__product__services_list > ul > li > a {
    font-size: 18px;
    line-height: 23px;
  }
}
.footer__summary__product__services_list > ul > li > a:hover {
  color: #F6523C;
}
.footer__summary__product__services_list > ul > li:last-child {
  margin-bottom: 0;
}
.footer__summary__product__services_list > ul > li > a {
  text-transform: uppercase;
}

.footer__connection__contacts {
  width: 232px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .footer__connection__contacts {
    width: 344px;
  }
}
.footer__connection__contacts_header {
  margin: 0 0 44px;
}
@media (min-width: 1280px) {
  .footer__connection__contacts_header {
    margin: 0 0 47px;
  }
}
.footer__connection__contacts_header > h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__connection__contacts_header > h3 {
    font-size: 24px;
    line-height: 33px;
  }
}
.footer__connection__contacts__phone {
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__phone {
    width: 238px;
  }
}
.footer__connection__contacts__phone_number {
  width: 172px;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__phone_number {
    width: 178px;
  }
}
.footer__connection__contacts__phone_number > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__phone_number > a {
    font-size: 20px;
    line-height: 25px;
  }
}
.footer__connection__contacts__address {
  width: 232px;
  margin: 23px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__address {
    width: 344px;
    margin: 21px 0;
  }
}
.footer__connection__contacts__address > address {
  width: 172px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__address > address {
    width: 285px;
    font-size: 20px;
    line-height: 25px;
  }
}
.footer__connection__contacts__email {
  width: 232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__email {
    width: 237px;
  }
}
.footer__connection__contacts__email_content {
  width: 172px;
}
.footer__connection__contacts__email_content > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__connection__contacts__email_content > a {
    font-size: 20px;
    line-height: 25px;
  }
}
.footer__connection__contacts_networks {
  width: 232px;
  margin-top: 62px;
}
@media (min-width: 1280px) {
  .footer__connection__contacts_networks {
    margin-top: 60px;
  }
}
.footer__connection__contacts_networks > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  width: 100%;
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
@media (min-width: 1280px) {
  .copyright {
    padding: 40px 0;
  }
}
.copyright_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .copyright_text {
    font-size: 18px;
    line-height: 25px;
  }
}

.mobile {
  background-color: #000000;
  padding: 30px 20px;
  width: 100%;
  max-width: 440px;
}
@media (min-width: 768px) {
  .mobile {
    max-width: 768px;
    padding: 30px 34px;
  }
}

.mobile__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
}

.mobile__content__info {
  margin-bottom: 60px;
}
.mobile__content__info__menu > ul {
  list-style: none;
  padding: 0;
}
.mobile__content__info__menu > ul > li {
  margin-bottom: 40px;
}
.mobile__content__info__menu > ul > li > a {
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-decoration: none;
  color: #FFFFFF;
}
.mobile__content__info__menu > ul > li > a:hover {
  color: #F6523C;
}
.mobile__content__info__menu > ul > li li:last-child {
  margin-bottom: 0;
}
.mobile__content__settings__button {
  width: 300px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-around;
  margin-bottom: 131px;
}
.mobile__content__settings__button > a {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #FFFFFF;
  padding: 20px 0;
}
.mobile__content__settings__button:hover {
  background-color: #F6523C;
  border: none;
}
.mobile__content__settings__lang {
  width: 65px;
}
.mobile__content__settings__lang > ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding-inline-start: 0;
}
.mobile__content__settings__lang > ul > li > a {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.mobile__content__settings__lang > ul .english {
  border-right: 1px solid #FFFFFF;
  padding-right: 8px;
}
.mobile__content__settings__lang > ul .english:focus {
  border-bottom: 1px solid #FFFFFF;
}
.mobile__content__settings__lang > ul .russian:focus {
  border-bottom: 1px solid #FFFFFF;
}/*# sourceMappingURL=style.css.map */